.active {
  color: red;
  font-size: larger;
}

h1{
  text-align: center;
}
.container{
  text-align: center;
}


.container a {
  text-decoration: none;
  text-transform: uppercase;
  /* display: flex; */
  padding: 1%;
  
}
img{
    width: 100%;
  /* height: 100%; */
}


